@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
  background-image: url('D:\\Home.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.link {
  color:navy;
  font-size:20px;
  font-weight: 500;
  font-family: Roboto;
}
.container {
  text-align: center;
  padding-top:20px ;
}
.card {
  text-align: center;
  background-color: white;
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right:500px;
  margin-left:500px;
  margin-top:100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-heading {
  font-family: "Bree-serif";
  color:rgb(1, 1, 56);
}
.paragraph {
  font-family: "Roboto";
  padding-top: 10px;
  padding-bottom: 10px;
}
.button {
  color: white;
  background-color: #25b1cc;
  width: 138px;
  height: 36px;
  border-width: 0px;
  border-radius: 20px;
  margin-left:90px;
}