@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.heading {
    text-align: center;
}
.divtag {
    margin-left: 133px;
}
.title {
    text-align:center;
    padding: 10px;
}
.card {
    font-family: "Roboto";
    text-align: center;
    
    
}
.paragraph1 {
    padding-left:10px;
   font-weight: bold;
   margin-right:110px;
   
}
.paragraph2 {
   font-weight: bold;
   margin-right:135px;
   
}
.paragraph3 {
    font-weight: bold;
    margin-right:100px;
    
 }
 .paragraph4 {
    font-weight: bold;
    margin-right:47px;
    
 }
 .paragraph5 {
    font-weight: bold;
    margin-right:55px;
    
 }
.para{
    text-align:center;
}
.button1 {
    
    text-align: center;
    border-radius: 3px;
    background-color: blue;
    color:#ffffff;
    padding:10px;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;

}
.ip {
    border-radius:2px;
    text-align: center;
}
.bg-container {
    background-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-color: #e5eaf4;
    border-radius: 0px;
    margin-right:500px;
    margin-left:500px;
    margin-top:100px;
}